@use '../../sass/abstracts/variables' as *;
@use '../../sass/abstracts/mixins' as *;

// Styles pour mobile (base)
.container {
    background-color: rgba(246, 246, 246, 1);
    @include margin(1.375rem 0 1.7rem 0); // 22px 0 27px 0
    @include flex($orientation: column);
    gap: 20px;
}

// Styles pour desktop et plus grand
@media screen and (min-width: 1024px) {
    .container {
        @include dimension($height: auto);
        background-color: rgba(246, 246, 246, 1);
        @include border($borderRadius: 10px);
        @include flex($justifyContent: flex-start);
        flex-wrap: wrap;
        @include padding(56px 50px 43px 50px);
        gap: 50px;
    }
}