@use '../../sass/abstracts/variables' as *;
@use '../../sass/abstracts/mixins' as *;


// Styles pour mobile (base)
.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  background-color: rgba(246, 246, 246, 1);
  @include textStyle(400, normal, 0.75rem);
}

ul, p {
	@include padding(20px 20px);
}

// Styles pour desktop et plus grand
@media screen and (min-width: 1024px) {

	.content {
		@include textStyle(400, normal, 1.125rem);
	}

	ul, p {
		@include padding(20px 16px);
	}

}